.LineChart {
  font-size: 1.5rem;
  color: #eee;
}

.LineChart svg {
  background: linear-gradient(0deg, #0d1518 0%, #1a282e 80%);
  border-radius: 8px;
  display: block;
}

.LineChart circle {
  transition: strokeWidth ease-in-out 0.4s, r ease-in-out 0.4s;
}

.LineChart .tooltip,
.LineChart .tooltipTime {
  filter: drop-shadow(0px 0px 1px #eee);
  opacity: 0;
}

.LineChart .tooltipTime {
  font-size: 0.7rem;
}

.LineChart .tooltip.active,
.LineChart .tooltipTime.active {
  opacity: 1;
  transition: opacity ease-in 0.2s;
}

.LineChart-threshold-label {
  font-size: 0.8rem;
  color: #da3838;
}
