.LineChart {
  font-size: 1.5em;
  color: #eee;
}

.LineChart svg {
  background: linear-gradient(0deg, #0d1518 0%, #1a282e 80%);
  border-radius: 8px;
}

.LineChart circle {
  transition: strokeWidth ease-in-out 0.4s, r ease-in-out 0.4s;
}

.LineChart .tooltip {
  filter: drop-shadow(0px 0px 1px #eee);
  opacity: 0;
}
.LineChart .tooltip.active {
  opacity: 1;
  transition: opacity ease-in 0.2s;
}

.LineChart-threshold-label {
  font-size: 0.5em;
  color: red;
}
