.Countdown {
  background-color: #d8d8d8;
  border-radius: 8px;
  position: relative;
  height: 8px;
  width: 100%;
  overflow-y: hidden;
}

.Countdown-done {
  background: linear-gradient(to left, #0368ac, #2f7db1);
  box-shadow: 0 0 10px 5px #0368ac;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  opacity: 1;
  animation-name: progress;
  animation-timing-function: ease-out;
}

.Countdown-heavy {
  background: linear-gradient(to left, #f2709c, #ff9472);
  box-shadow: 0 0 10px 5px #f2709c;
}

@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
