.Countdown {
  background-color: #d8d8d8;
  border-radius: 8px;
  position: relative;
  height: 10px;
  width: 100%;
}

.Countdown-done {
  background: linear-gradient(to left, #0368ac, #377eae);
  box-shadow: 0 0 5px 0 #0368ac;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  opacity: 1;
  animation-name: progress;
  animation-timing-function: ease-out;
}

.Countdown-heavy {
  background: linear-gradient(to left, #da3838, #ff9472);
  box-shadow: 0 0 5px 0 #da3838;
}

@keyframes progress {
  0% {
    width: 100%;
    transform: scaleY(1);
  }
  88% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    width: 0%;
    transform: scaleY(0);
    opacity: 0.5;
  }
}
