.CpuLoadMonitor {
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #1a282e;
  width: 100%;
  max-width: 1000px;
  padding: 0 16px 16px 16px;
  color: #eeeeee;
}

.CpuLoadMonitor-header {
  display: flex;
  flex-wrap: wrap;
}

.CpuLoadMonitor-info {
  display: flex;
  align-items: center;
  margin-right: 32px;
  margin-bottom: 16px;
}

.CpuLoadMonitor-info-img {
  height: 48px;
  margin-right: 16px;
}

.CpuLoadMonitor-info-content {
  display: flex;
  flex-direction: column;
}

.CpuLoadMonitor-load {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 8px;
}

.CpuLoadMonitor-load-value {
  font-size: 2rem;
}

.CpuLoadMonitor-load-label {
  font-size: 0.8rem;
}

.CpuLoadMonitor-time {
  font-size: 0.8rem;
  line-height: 0.7rem;
}
