.CpuLoadMonitor {
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #1a282e;
  width: 100%;
  max-width: 1000px;
  padding: 0 16px 16px 16px;
  color: #eeeeee;
}

.CpuLoadMonitor-header {
  display: flex;
  flex-wrap: wrap;
}

.CpuLoadMonitor-time {
  font-size: 0.8rem;
  line-height: 0.7rem;
  color: #aaaaaa;
}
